canvas{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

html{
    font-family: 'Roboto mono';
    // background: rgb(0, 33, 43);
    background: black;
    // background: url('../assets/images/favicon.png') ;
}

h1{
    font-size: 6rem;
    color: white;
    display: grid;
    place-items: center;
    margin-bottom: 0;
    margin: 0;
}

p{
    font-size: 1.5rem;
    padding: 1rem 1rem 1rem 1rem;
    display: inline;
}

a{
    padding: 1rem;
    text-decoration: none;
    color: black;
}

header{
    color: white;
    padding: 2rem 2rem 0 2rem;
    a{
        color: white;
    }
}

footer{
    background: rgb(255, 255, 255);
    // position: relative;
    // right: 100%;
    p{
        padding: 0;
        padding: 1rem;
        padding-left: 1.5rem;
        font-size: 1rem;
        background: none;
    }
}

nav{
    line-height: -20px;
}

figure{
    background: white;
    text-align: center;
}

.title{
    height: 1000%;
    z-index: -1;

}

.navFooter{
    background: black;
    position: relative;
    top: 5.1rem;
    nav{
        a{
            color: white;
            padding: 1.5rem;
        }
    }
}

.reseau{
    line-height: 3.1rem;
    a{
        padding: 1.5rem;
        padding-right: 2rem;
    }
}

.btnEnter{
    position: absolute;
    top: 43%;
    right: 38%;
    width: 10rem;
    height: 10rem;
}

.h1Enter{
    padding: 15rem 2rem 0 2rem;
}


.containerG{
    background: black;
    color: white;
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0%;
}

.containerD{
    background: white;
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
}

.dev{
    display: inline-block;
    place-items: center;
    margin-top: 0;
    border-radius: 1rem;
    position: absolute;
    background: white;
    right: 18%;
    top: 1.5rem;
}

.flex{
    display: flex;
}

.jc-center{
    justify-content: center;
}

.jc-between{
    justify-content: space-between;
}

.jc-around{
    justify-content: space-around;
}

#imgTest, #imgTest1, #imgLogo{
    img{
        padding-top: .5rem;
        width: 8rem;
        height: 8rem;
    }
}

